<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link href="{%static 'css/bootstrap_login.min.css' %} " rel="stylesheet">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="refresh" content="3;url=/login" />
    <title>Face Recognition Login</title>
</head>

<body> 
    <div align = "center">
        <div style="display:flex; flex-wrap:wrap; flex-direction: row; justify-content: center; align-items: center">
            <div style="width:1000px; border: solid 1px #333333;" align="center">
                <div style="background-color:#333333; color:#ffffff; padding:3px;" align="center"><b>Failed!</b></div>
                <div style="margin:20px;  color:#000000; ">
                    <label>Redirecting in 3 seconds...</label>
                </div>
            </div>
        </div>
        <div style = "font-size:15px; color:#000000; margin-top:10px">Created by:</div>
        <div style = "font-size:15px; color:#000000; margin-top:10px">201969990051 - Yeo King</div>
        <div style = "font-size:15px; color:#000000; margin-top:10px">201969990300 - Ryo Khannazuki</div>
        <div style = "font-size:15px; color:#000000; margin-top:10px">201969990102 - Reyvin Chanwelson</div>
  </div>

</body>
</html>